#pbox
{background:#82CAFF; -moz-border-radius: 35px;
border-radius: 35px;
}
#hbox
{background:orange; -moz-border-radius: 35px;
border-radius: 35px;
}
#h2box
{background:yellow;}
#h3box
{background:green;}
#navbar{background:blue; height:27px;
-moz-border-radius: 100em 10em 100em 10em;
border-radius: 100em 10em 100em 10em;}
a:hover{background:#50EBEC;}
a{background:#635ACF; -moz-border-radius: 7px;
border-radius: 7px; color:#000000;
}
p.padding{margin-top:50%;}
h1
{color:#3E3535;}
#newbox{background:gray; margin-left:35px; margin-right:35px; -moz-border-radius: 35px;
border-radius: 35px;}
fieldset
{background:#348017;}
fieldset:hover
{background:#347235;}
#formbox
{background:#306754;} 
p
{text-indent:20px; text-decoration:bold; font-weight: bold;}
body{background-image:url('https://lh5.googleusercontent.com/tWZix4YLj1E_LgVF0BvzqYkGSZGWNTs5-uIi0tq7PECyq11g52KUT_bck41skQfppQb96jF3IMuIuxURqrGYOT1IveHfR-plVfQ=s512'); background-repeat:no-repeat; background-size:1300px; background-attachment:fixed;}